body{
    background: #000;
    /* animation: bgTheme 5s infinite; */
}

h1,p{
    font-size: 18px;
    color: #fff;
    text-align: center;
}
.container{
    width: 50%;
    margin: 0 auto;
    animation: fadeInEffect 5s infinite;
}


@keyframes fadeInEffect {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes bgTheme {
    0%{
        background: #000;
    }
    100%{
        background: linear-gradient(90deg, rgba(204,71,158,1) 0%, rgba(0,212,255,1) 100%);
    }
}

@media screen and (max-width:768px) {
    .container{
        width: 100%;
    }
}

.zoom-in-zoom-out {
    margin: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #fff;
    animation: zoom-in-zoom-out 2s ease-out infinite;
  }
  
  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.5, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
  }

  .bot{
    height: 25px;
  }



  .paragraph{
    background: violet;
  }


  HTML CSS JSResult Skip Results Iframe
#increment, #decrement, #reset{
 /* padding:10px 15px; */
 font-size:18px;
 background: #56ccf2; 
  background: -webkit-linear-gradient(to right, #56ccf2, #2f80ed); 
  background: linear-gradient(to right, #56ccf2, #2f80ed);
  color:#f1f1f1;
  border:none;
  margin:5px;
}
#main{
  margin : 0 auto;
  text-align:center;
  padding:5% 10%;
}
#displayCounter{
  font-size:100px;
  font-family: impact;
  
}
body{
  background-color: #000;
}

#displayCounter{
  background-color: #2f80ed;
  color: #fff;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}


.myContainer{
  background-color: #fff;
  width: 200px;
  padding: 50px;
}


.btn{
  background-color: #2f80ed;
  border: 1px solid #2f80ed;
  color: #fff;
  display: block;
  margin-top: 50px;
}


.counter{
  text-align: center;
  width: 300px;
  margin: 50px auto;
}
#value{
  font-size: 100px;
  color: #fff;
}
.counter .btn{
  background: none;
  border:1px solid #2f80ed;
  padding: 15px 25px;
  margin-right: 15px;
}
.counter h1{
  font-size: 50px;
}

.btn-container{
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #4CAF50; /* Green background */
  border: none; /* Remove border */
  color: white; /* White text */
  padding: 15px 32px; /* Padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Inline-block element */
  font-size: 16px; /* Font size */
  margin: 4px 2px; /* Margin */
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 8px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition */
}

button:hover {

}


.addColor{
  background-color: #2f80ed;
}